$color-light-green: rgba(223, 255, 223, 1);;
$color-dark-green-trans: rgba(1, 84, 1, 0.591);
$color-light-green-trans: rgba(223, 255, 223, 0.534);
$color-text-primary: #777777;
$color-black: black;
$color-white: white;
$color-gray: #ababab;


$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 1.6rem;