body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: black;
    box-sizing: border-box;
}

.heading-primary{
    color: $color-gray;
    backface-visibility: hidden;
    margin-bottom: 1rem;

    &--main{
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 0.5rem;
        display: block;
        letter-spacing: 0.4rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
    &--sub{
        text-align: center;
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    
    }
}

.heading-secondary{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.title-shadow{

    color: transparent;
    
    background-color:  rgb(218, 255, 211);
    -webkit-background-clip: text;
    
    text-shadow: 1px 0px black;
}